<footer id="footer">
  <div class="divFin">
    <div class="lineaFooter"></div>
  </div>

  <div class="centrar">
    <div class="grid">
      <div class="txtFooter ftDere">
        <div class="infoFooter">info{{ '@' }}ticketsensor.com</div>
        <a class="terminos" href="https://www.sensorevents.com/politicas-terminos-y-condiciones" target="_blank">Términos y Condiciones</a>
        <div class="infoFooter">Servicio al cliente: +57 3219187944</div>
        <div class="txtFooter ftDere">
          <div class="cajaFoot">
            <a href="https://www.youtube.com/channel/UCffu7tXr4HlhhlzZw14PynA" target="_blank">
              <img class="imRedes" src="assets/images/Vectores/youtube.png" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/sensor_events" target="_blank">
              <img class="imRedes" src="assets/images/Vectores/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/sensorevents" target="_blank">
              <img class="imRedes" src="assets/images/Vectores/facebook.png" alt="Facebook">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>