<div class="dialog-container margin-top-2 margin-bottom-5">

  <div class="spinner-overlay" *ngIf="cargando">
    <div class="spinner"></div>
  </div>

  <div class="dialog-row">
    <div class="dialog-col shadow-large rounded padding-4 fondoNegro">
      <mat-icon class="close-button float-right rounded padding-top-2 padding-bottom-2 padding-left-3 padding-right-3 botonesCerrar" mat-button mat-dialog-close>
        cancel_presentation</mat-icon>
      <div class="centrarTexto">
        <h3 class="colorLetras"><strong>Ingresa el numero de documento del cliente que deseas buscar</strong></h3>
        <h4>Recuerda que la personas debe estar registrada en All Tickets para poder asignarle el Ticket</h4>
      </div>
      <hr>

      <form (ngSubmit)="!todoForm.invalid && buscarCliente()" class="margin-top-4" #todoForm="ngForm">
        <fieldset class="form-group">
          <input type="number" class="form-control" name="nombre" required="required"
            [(ngModel)]="numeroDocumento">
        </fieldset>

        <div style="text-align: center;">
          <button class="boton-buscar botonLogin margin-top-2 margin-bottom-3" type="submit">Buscar</button>
        </div>
      </form>

      <div class="client-info-col fondoBlancoCliente border">
        <h5 class="padding-top-4 padding-right-4"> <strong>Nombre: </strong>{{clienteNuevo.nombre}}</h5>
        <h5 class="padding-right-4 padding-top-2"> <strong>No Documento: </strong> <strong>{{clienteNuevo.tipo_documento}} </strong>{{clienteNuevo.numeroDocumento}}</h5>
        <h5 class="padding-right-4 padding-bottom-2 padding-top-2"> <strong>Correo: </strong>{{clienteNuevo.correo}}</h5>
        <button class="action_button margin-bottom-2" (click)="asignar()">Dar Ticket</button>
      </div>

    </div>
  </div>
</div>