<div class="spinner-overlay" *ngIf="cargando">
  <div class="spinner"></div>
</div>
<section>
  <div class="contenedorTitulo">
    <h2 class="titulo-evento3">Mis compras pendientes</h2>
    <hr class="linea-naranja4" />
  </div>
  <br>
  <div class="contenedoresPendientes">
    <div class="contenedor" *ngFor="let compra of comprasPendientes; let i=index">
      <div class="informacionContenedor">
        <div class="imagen-izquierda">
          <img class="imagenEvento" [src]="compra.imagen" alt="Imagen del evento">
        </div>
        <div class="detallesInfo">
          <h3 class="titulo">{{compra.eventoNombre}}</h3>
          <hr class="linea-naranja5" />
          <div class="fechaContenedor">
            <img class="imagenFecha" src="../../../../../assets/images/Vectores/calendar.svg" alt="">
            <span class="fecha">{{ compra.orden?.creationDate ? (compra.orden?.creationDate | date:'medium') : "Por confirmar" }}</span>
          </div>
          <div>
            <p class="detalle" *ngFor="let ticket of compra.tickets">
              <span class="circuloPendiente"></span>
              <span class="descripcion">
                Ticket - {{ticket.numero?ticket.numero_dentro_de_evento:ticket.id}} - {{compra.localidad}} - {{compra.orden?.tarifa?.nombre}}
              </span>
              <span class="lineaPrecios"></span>
              <span class="precio">{{((+compra.orden?.tarifa?.precio || 0) + (+compra.orden?.tarifa?.servicio || 0) + (+compra.orden?.tarifa?.iva || 0)) | currency:'COP ':'symbol':'1.0-0' }}</span>
            </p>
          </div>

          <div class="mt-3" *ngIf="compra.orden.valorSeguro && compra.orden.valorSeguro>0">
            <p class="detalle mb-1">
              <span class="circuloPendiente"></span>
              <span class="descripcion">Seguro Metlife</span>
              <span class="lineaPrecios"></span>
              <span class="precio">{{compra.orden.valorSeguro | currency:'COP ':'symbol':'1.0-0'}}</span>
            </p>
          </div>

          <div class="cantidad-total">
            <span class="cantidad">Cantidad: {{compra.tickets?.length}}</span>
            <div class="totalDescuento">
              <span class="total">Total: {{compra.orden?.valorOrden | currency:'COP ':'symbol':'1.0-0'}}</span>
            </div>
          </div>
          <div class="pagarContainer">
            <button class="botonPagar" (click)="procederConPago(compra)">PAGAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

