<div class="spinner-overlay" *ngIf="cargando">
  <div class="spinner"></div>
</div>
<section class="tickets-container shadow">
  <div class="tickets-row">
    <div class="empty-col eventoFondo" style="text-align: center;" *ngIf="tickets.length==0">
      <h4 class="textoSinInfo"> <strong> No tienes ningún Ticket, compra una con Sensor.</strong></h4>
    </div>
    <div class="ticket-col margin-bottom-2 info-ticket" *ngFor="let ticket of tickets;let i =index">
      <h5 class="textoTitulo"><strong>Evento: {{eventos[i].nombre}}</strong></h5>
      <h5 class="textoInfo"><strong>Localidad Tickets: {{localidades[i].nombre}}</strong> </h5>
      <h5 class="textoInfo"><strong>Ticket No:</strong>
        {{ticket.numero_dentro_de_evento?ticket.numero_dentro_de_evento:ticket.id}}</h5>

      <h5 class="textoInfo"><strong>Valor: </strong>{{ticket?.precio + ticket?.servicio
        +ticket?.servicio_iva|currency:'COP'}}</h5>

      <!-- <div class="botones-tickets">
        <button class="action_button rounded" routerLink="amigos-ticket/{{ticket.id}}">Gestionar</button>
      </div> -->

    </div>
  </div>
</section>