<div class="spinner-overlay" *ngIf="cargando">
  <div class="spinner"></div>
</div>
<section class="tickets-container shadow">
  <div class="tickets-row">
    <div class="empty-col eventoFondo" style="text-align: center;" *ngIf="misTickets.length==0">
      <h4 class="textoSinInfo"> <strong> No tienes ningún Ticket, compra uno con Sensor.</strong></h4>
    </div>
    <div class="ticket-col margin-bottom-2 info-ticket" *ngFor="let misTicket of misTickets">
      <div class="ticket-layout">
        <div *ngIf="misTicket.imagen" class="ticket-image">
          <img [src]="misTicket.imagen" [alt]="misTicket.eventoNombre">
        </div>
        <div class="ticket-info">
          <h5 class="textoTitulo"><strong>Evento: {{misTicket.eventoNombre}}</strong></h5>
          <h5 class="textoInfo"><strong>Localidad: {{misTicket.localidad}}</strong></h5>
          <h5 class="textoInfo"><strong>Ticket ID:</strong> {{misTicket.ticket.id}}</h5>
          <h5 class="textoInfo" *ngIf="misTicket.ticket.numero"><strong>Ticket No:</strong> {{misTicket.ticket.numero}}</h5>
          <h5 class="textoInfo" *ngIf="misTicket.ticket.tarifa"><strong>Valor: </strong>{{misTicket.ticket.precio | currency:'COP ':'symbol':'1.0-0'}}</h5>
          <h5 class="textoInfo"><strong>Estado: </strong><span [style.color]="getUtilizadoColor(misTicket.utilizado)">{{getUtilizadoTexto(misTicket.utilizado)}}</span></h5>
        </div>
      </div>
      
      <div class="botones-tickets">
        <button 
          class="action_button rounded" 
          (click)="enviarQR(misTicket.ticket.id)"
          [disabled]="misTicket.ticket.estado !== 1">
          Enviar QR
        </button>
      </div>
    </div>
  </div>
</section>