<div class="spinner-overlay" *ngIf="cargando">
  <div class="spinner"></div>
</div>

<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <a routerLink="/home">
        <img 
          class="logo-desktop" 
          src="assets/images/brand/logo.png" 
          alt="Sensor Logo"
        />
        <img 
          class="logo-mobile" 
          src="assets/images/brand/logo-icon.png" 
          alt="Sensor Logo"
        />
      </a>
    </div>

    <div class="nav-menu" [class.active]="visibleMenuResponsive">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active" (click)="cerrarMenuResponsive()">Inicio</a>
        </li>
        
        <li class="nav-item" *ngIf="!this.autenticacion.getUsuario();">
          <a class="nav-link" (click)="abrirIniciarSesion(); cerrarMenuResponsive()" routerLinkActive="active">Iniciar Sesión</a>
        </li>
        
        <li class="nav-item" *ngIf="!this.autenticacion.getUsuario();">
          <a class="nav-link" (click)="abrirRegistro(); cerrarMenuResponsive()">Regístrate</a>
        </li>
        
        <li class="nav-item" *ngIf="this.autenticacion.getUsuario();">
          <a class="nav-link" routerLink="/compras-pendientes" routerLinkActive="active" (click)="cerrarMenuResponsive()">Pendientes</a>
        </li>

        <li class="nav-item" *ngIf="this.autenticacion.getUsuario();">
          <a class="nav-link" routerLink="/usuario-perfil" routerLinkActive="active" (click)="cerrarMenuResponsive()">Mi Perfil</a>
        </li>

        <li class="nav-item" *ngIf="this.autenticacion.getUsuario();">
          <a class="nav-link" routerLink="/logout" routerLinkActive="active" (click)="cerrarMenuResponsive()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>

    <div class="menu-toggle" (click)="cambiarVisibilidadMenuResponsive()">
      <span [class.active]="visibleMenuResponsive"></span>
      <span [class.active]="visibleMenuResponsive"></span>
      <span [class.active]="visibleMenuResponsive"></span>
    </div>
  </div>
</nav>