<!-- <div class="spinner-overlay" *ngIf="cargando">
  <div class="spinner"></div>
</div>

<div id="prueba" style="text-align: center;">
  <h1><strong>Agrega a todos tus amigos</strong></h1>
</div>

<section class="amigos-container margin-top-5">
  <div class="amigos-row">

    <div class="ticket-info-col arriba padding-2 border rounded" *ngIf="localidades">
      <h3><strong>Dueño del ticket: {{ticket.numero_dentro_de_evento?ticket.numero_dentro_de_evento:ticket.id}} - {{localidades[0].nombre}}</strong></h3>
    </div>
    <div class="owner-info-col fondoBlancoCliente border margin-bottom-5">

      <div class="owner-details" *ngIf="eventos">
        <h5 class="padding-top-2 padding-left-2"><strong>No. Documento: {{usuario.numeroDocumento}}</strong></h5>
        <h5 class="padding-left-2"><strong>Nombre dueño: {{usuario.nombre}}</strong></h5>
        <h5 class="padding-left-2"><strong>Correo: {{usuario.correo}}</strong></h5>
        <h5 class="padding-left-2"><strong>Celular: {{usuario.celular}}</strong></h5>
        <hr>
        <h5 class="padding-top-3 padding-left-2"><strong>Evento: {{eventos[0].nombre}}</strong></h5>
        <h5 class="padding-left-2" *ngIf="(localidades[0].tipo!=3 && localidades[0].tipo!=2)"><strong>Ticket No:</strong>
          {{ticket.numero_dentro_de_evento?ticket.numero_dentro_de_evento:ticket.id}}</h5>
        <h5 class="padding-left-2" *ngIf="(localidades[0].tipo!=3 && localidades[0].tipo!=2)"><strong>Personas por ticket:</strong> {{asientos.length +1}}</h5>
        <h5 class="padding-left-2"><strong>Precio: </strong>{{ticket?.precio + ticket?.servicio
          +ticket?.servicio_iva|currency:'COP'}}</h5>

        <button class="action_button rounded margin-bottom-4 margin-top-3" (click)="openDialog2(ticket)">Cambiar Dueño del ticket</button>
      </div>
    </div>

  </div>
  <div class="additions-row" *ngIf="listaAdiciones?.length>0">
    <div class="additions-header-col arriba padding-2 border rounded">
      <h3><strong>Compra Adiciones</strong></h3>
      <h5 class="padding-left-2 padding-right-4" style="color:white"> <strong>Puedes comprar maximo adiciones</strong></h5>
    </div>
    <div class="additions-content-col fondoBlancoCliente border">

      <h5 class="padding-top-4 padding-right-4"> <strong>Precio por una adición: </strong>{{ticket.precioAdicion
        +ticket.servicioAdicion +ticket.servicioIvaAdicion |currency:'COP'}}</h5>

      <div class="selection-section">
        <h5><strong>Selecciona cuantas adiciones deseas:</strong></h5>
        <select class="additions-select float-center margin-left-4 margin-bottom-4" (change)="cambiarTotalAdicion()" type="text"
          class="form-control" name="tipo" required="required" style="width: 100px;"
          [(ngModel)]="seleccionAdicion">
          <option value=""> </option>
          <option *ngFor="let numero of listaAdiciones" value={{numero}}>{{numero}}</option>
        </select>
        <h5 class="margin-top-4"><strong>Costo: </strong>{{valorPagarAdicion | currency:'COP'}} </h5>
      </div>
      <button class="payment-btn action_button margin-bottom-2" *ngIf="ticket.id!=null" (click)="pago()">
        Pagar</button>

    </div>

  </div>
  <div class="attendees-row" *ngIf="asientos?.length>0">

    <div class="attendees-header-col arriba padding-3 border rounded margin-top-5">
      <h3><strong>{{(localidades[0].tipo!=3 && localidades[0].tipo!=2)?'Integrantes del ticket':'Días validos del ticket'}}</strong></h3>
    </div>

    <div class="ticket-validity-col fondoBlancoCliente border" *ngIf="(localidades[0].tipo==3 || localidades[0].tipo==2)">

      <h5 class="padding-left-2 padding-top-4"><strong>Ticket No:</strong>
        {{ticket.numero_dentro_de_evento?ticket.numero_dentro_de_evento:ticket.id}}</h5>
      <h5 class="padding-left-2"><strong>Fecha validez:</strong> {{ticket.fechaValidez | date:'short'}}</h5>

    </div>

    <div class="attendee-col fondoBlancoCliente border" *ngFor="let asiento of asientos;let i = index">

      <div *ngIf="asiento.estado==1">

        <ng-container *ngIf="(localidades[0].tipo!=3 && localidades[0].tipo!=2)">
          <h5 class="padding-top-4 padding-left-2"><strong>No. Documento: {{clientes[i]?.numeroDocumento}}</strong></h5>
          <h5 class="padding-left-2"><strong>Nombre asistente: {{clientes[i]?.nombre}}</strong></h5>
          <h5 class="padding-left-2"><strong>Correo: {{clientes[i]?.correo}}</strong></h5>
          <h5 class="padding-left-2 padding-bottom-3"><strong>Celular: {{clientes[i]?.celular}}</strong></h5>
          <hr>
        </ng-container>

        <h5 class="padding-left-2 padding-top-4"><strong>Ticket No:</strong>
          {{asiento.numero_dentro_de_evento?asiento.numero_dentro_de_evento:asiento.id}}</h5>
        <h5 class="padding-left-2" *ngIf="(localidades[0].tipo==3 || localidades[0].tipo==2)"><strong>Fecha validez:</strong> {{asiento.fechaValidez | date:'short'}}</h5>
        <h5 class="padding-left-2" *ngIf="(localidades[0].tipo!=3 && localidades[0].tipo!=2)"><strong>Precio: </strong>{{asiento?.precio + asiento?.servicio
          +asiento?.servicio_iva|currency:'COP'}}</h5>

        <button *ngIf="(localidades[0].tipo!=3 && localidades[0].tipo!=2)" class="action_button rounded margin-bottom-4 margin-left-4 margin-top-3" (click)="openDialog2(asiento)">Cambiar asistente</button>

      </div>

    </div>

  </div>

</section> -->